body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 60px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mainimage {
    border-radius: 111px;
    max-height: 733;
}

.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.heading {
    color: white;
    position: absolute;
    top: 2%;
    width: 100%;
    text-align: center;
    font-size: 100px;
}

.heading2 {
    padding-top: 80px;
}

.get-big-pls{
    font-size: 60px;
    transition: 0.2s ease-in-out;
}


.get-big-pls:hover  {
    font-size: 65px !important;
    color: blueviolet !important;
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

footer {
    background-color: #111;
}

.footer-text {
    color: white;
}

overview-col {

}

.overview-img{
    width: 600px;
    height: auto;
    margin: 40px;
}